# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env
.env.*

# Google Colab
*.log

# Large/local datasets
data/train.csv
data/test.csv

# Model files
*.h5
*.keras
*.pkl

# OS files
.DS_Store
Thumbs.db
